# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Build directories
build/
dist/

# React build output
*.env.local
